#navbarRainbow {
    width: 100%;
    height: 50px;
    background-color: Olive;
    box-shadow: 0 14px 28px olive, 0 10px 10px olive;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navElement {
    display: inline-block;
    width: 33%;
}

.textLeft {
    text-align: left;
    display: inline-block;
    /* margin-left: 2rem; */
}

.floatLeft {
    float: left;
    margin-left: 1rem;
}

.floatRight {
    float: right;
}

.centered {
    text-align: center;
}